{% extends "base.html" %}

{% block title %}
Flask - Login
{% endblock %}

{% block body %}
<div class="container mt-5">
    <form method="post" enctype="multipart/form-data" class="w-50 position-absolute top-50 start-50 translate-middle">
        {{ form.hidden_tag() }}
        <div class="input-group mb-3">
            {{ form.username(class="form-control", placeholder=form.username.label.text) }}
        </div>
        <div class="input-group mb-3">
            {{ form.password(class="form-control", placeholder=form.password.label.text) }}
        </div>
        {{ form.login(class="btn btn-success") }}
    </form>
</div>
{% endblock %}
